schema/schema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="MessageService" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="BasicHttpBinding_IMessageService_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import
                    schemaLocation="https://services.fedresurs.ru/Bankruptcy/MessageServiceDemo/WebService.svc?xsd=xsd0"
                    namespace="http://tempuri.org/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IMessageService_GetMessageIds_InputMessage">
        <wsdl:part name="parameters" element="tns:GetMessageIds"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetMessageIds_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetMessageIdsResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetMessageContent_InputMessage">
        <wsdl:part name="parameters" element="tns:GetMessageContent"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetMessageContent_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetMessageContentResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessageContent_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessageContent"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessageContent_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessageContentResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessages_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessages"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessages_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessagesResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessagesByTrade_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessagesByTrade"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetTradeMessagesByTrade_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTradeMessagesByTradeResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetArbitrManagerRegister_InputMessage">
        <wsdl:part name="parameters" element="tns:GetArbitrManagerRegister"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetArbitrManagerRegister_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetArbitrManagerRegisterResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorRegister_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorRegister"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorRegister_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorRegisterResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetCompanyTradeOrganizerRegister_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCompanyTradeOrganizerRegister"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetCompanyTradeOrganizerRegister_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCompanyTradeOrganizerRegisterResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetSroRegister_InputMessage">
        <wsdl:part name="parameters" element="tns:GetSroRegister"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetSroRegister_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetSroRegisterResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorByIdBankrupt_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorByIdBankrupt"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorByIdBankrupt_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorByIdBankruptResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorsByLastPublicationPeriod_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorsByLastPublicationPeriod"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorsByLastPublicationPeriod_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorsByLastPublicationPeriodResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorMessagesContentForPeriodByIdBankrupt_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorMessagesContentForPeriodByIdBankrupt"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorMessagesContentForPeriodByIdBankrupt_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorMessagesContentForPeriodByIdBankruptResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorReportsContentForPeriodByIdBankrupt_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorReportsContentForPeriodByIdBankrupt"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_GetDebtorReportsContentForPeriodByIdBankrupt_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDebtorReportsContentForPeriodByIdBankruptResponse"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_SearchDebtorByCode_InputMessage">
        <wsdl:part name="parameters" element="tns:SearchDebtorByCode"/>
    </wsdl:message>
    <wsdl:message name="IMessageService_SearchDebtorByCode_OutputMessage">
        <wsdl:part name="parameters" element="tns:SearchDebtorByCodeResponse"/>
    </wsdl:message>
    <wsdl:portType name="IMessageService">
        <wsdl:operation name="GetMessageIds">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageIds"
                        message="tns:IMessageService_GetMessageIds_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageIdsResponse"
                         message="tns:IMessageService_GetMessageIds_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetMessageContent">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageContent"
                        message="tns:IMessageService_GetMessageContent_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageContentResponse"
                         message="tns:IMessageService_GetMessageContent_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessageContent">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessageContent"
                        message="tns:IMessageService_GetTradeMessageContent_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessageContentResponse"
                         message="tns:IMessageService_GetTradeMessageContent_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessages">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessages"
                        message="tns:IMessageService_GetTradeMessages_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesResponse"
                         message="tns:IMessageService_GetTradeMessages_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessagesByTrade">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesByTrade"
                        message="tns:IMessageService_GetTradeMessagesByTrade_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetTradeMessagesByTradeResponse"
                         message="tns:IMessageService_GetTradeMessagesByTrade_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetArbitrManagerRegister">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetArbitrManagerRegister"
                        message="tns:IMessageService_GetArbitrManagerRegister_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetArbitrManagerRegisterResponse"
                         message="tns:IMessageService_GetArbitrManagerRegister_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorRegister">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorRegister"
                        message="tns:IMessageService_GetDebtorRegister_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetDebtorRegisterResponse"
                         message="tns:IMessageService_GetDebtorRegister_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCompanyTradeOrganizerRegister">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegister"
                        message="tns:IMessageService_GetCompanyTradeOrganizerRegister_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegisterResponse"
                         message="tns:IMessageService_GetCompanyTradeOrganizerRegister_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetSroRegister">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetSroRegister"
                        message="tns:IMessageService_GetSroRegister_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetSroRegisterResponse"
                         message="tns:IMessageService_GetSroRegister_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorByIdBankrupt">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorByIdBankrupt"
                        message="tns:IMessageService_GetDebtorByIdBankrupt_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetDebtorByIdBankruptResponse"
                         message="tns:IMessageService_GetDebtorByIdBankrupt_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorsByLastPublicationPeriod">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorsByLastPublicationPeriod"
                        message="tns:IMessageService_GetDebtorsByLastPublicationPeriod_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetDebtorsByLastPublicationPeriodResponse"
                         message="tns:IMessageService_GetDebtorsByLastPublicationPeriod_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorMessagesContentForPeriodByIdBankrupt">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorMessagesContentForPeriodByIdBankrupt"
                        message="tns:IMessageService_GetDebtorMessagesContentForPeriodByIdBankrupt_InputMessage"/>
            <wsdl:output
                    wsaw:Action="http://tempuri.org/IMessageService/GetDebtorMessagesContentForPeriodByIdBankruptResponse"
                    message="tns:IMessageService_GetDebtorMessagesContentForPeriodByIdBankrupt_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorReportsContentForPeriodByIdBankrupt">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDebtorReportsContentForPeriodByIdBankrupt"
                        message="tns:IMessageService_GetDebtorReportsContentForPeriodByIdBankrupt_InputMessage"/>
            <wsdl:output
                    wsaw:Action="http://tempuri.org/IMessageService/GetDebtorReportsContentForPeriodByIdBankruptResponse"
                    message="tns:IMessageService_GetDebtorReportsContentForPeriodByIdBankrupt_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SearchDebtorByCode">
            <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/SearchDebtorByCode"
                        message="tns:IMessageService_SearchDebtorByCode_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/SearchDebtorByCodeResponse"
                         message="tns:IMessageService_SearchDebtorByCode_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
        <wsp:PolicyReference URI="#BasicHttpBinding_IMessageService_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetMessageIds">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageIds" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetMessageContent">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessageContent">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessageContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessages">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessages" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTradeMessagesByTrade">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetTradeMessagesByTrade" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetArbitrManagerRegister">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetArbitrManagerRegister" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorRegister">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetDebtorRegister" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCompanyTradeOrganizerRegister">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetCompanyTradeOrganizerRegister"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSroRegister">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetSroRegister" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorByIdBankrupt">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetDebtorByIdBankrupt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorsByLastPublicationPeriod">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetDebtorsByLastPublicationPeriod"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorMessagesContentForPeriodByIdBankrupt">
            <soap:operation
                    soapAction="http://tempuri.org/IMessageService/GetDebtorMessagesContentForPeriodByIdBankrupt"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtorReportsContentForPeriodByIdBankrupt">
            <soap:operation soapAction="http://tempuri.org/IMessageService/GetDebtorReportsContentForPeriodByIdBankrupt"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchDebtorByCode">
            <soap:operation soapAction="http://tempuri.org/IMessageService/SearchDebtorByCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageService">
        <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
            <soap:address location="https://services.fedresurs.ru/Bankruptcy/MessageServiceDemo/WebService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>